QPushButton {
    background-color: white;
    min-width: 50px;
    min-height: 40px;
    padding: 2px;
}

QPushButton:pressed {
    background-color: grey;
}

QPushButton:checked {
    background-color: grey;
}
